@using StockCardiologia.ViewModels;
@model EquipoViewModel;


@{
    ViewData["Title"] = "Index";
}

<h1> Equipos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Equipo">
        <div class="col-6 form-group">
            <input class="form-control" asp-for="NameFilter" >
        </div>
        <br>
        <button class="btn btn-primary" type="submit"> Buscar </button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].NSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Remito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Planilla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].FechaProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Condicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Deposito.NombreDeposito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposito.Id) @*ToDo ver el LazyLoad*@

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
