@model IEnumerable<StockCardiologia.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planilla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposito.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
